{% extends "apps/base.html" %}


{% block content %}

<div class="container-fluid">
  <h1 class="text-center mt-3 mb-3">EDIT THE ITEM</h1>
  <div class="form" style='background-color: #e9ecef'>
    {% if item %}
    <form class="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" class="from-control" value="{{item.name}}">
      </div>
      <div class="form-group">
        <label for="roll">Roll:</label><br>
        <input type="text" id="roll" name="roll" class="from-control" value="{{item.roll}}">
      </div>
      <div class="form-group">
        <label for="section">Section:</label><br>
        <input type="text" id="section" name="section" class="from-control" value="{{item.section}}">
      </div>
      <button type="submit" name="submit" class="btn btn-primary">submit</button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
